body {
    background-image: url(./imagenes/fondo_c.png);    
    background-color: #F9EAE1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgba(23, 17, 31, 0.752);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 35px;
    box-shadow: 5px 5px 5px #888888;
    padding: 15px;
    background-color: rgb(247, 249, 251);
    width: 100%;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;

}

nav ul li {
    list-style: none;  
    margin-top: 1rem;
    margin-bottom: 1rem; 
    padding-top: 5px; 
}

nav ul li:hover {
    background-color: #cd695e;
    color: antiquewhite;
    border-radius: 5px;
    transform: scale(1.2);
    transition: 0.3s ease;
    padding: 10px 8px 6px 8px;   
}

nav ul li a {
    color: rgb(9, 6, 6);
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;    
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 12rem;
}

nav img {
    width: 300px;
    height: auto;
    margin-bottom: 2.5rem;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 5px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section img {
    width: 55% ;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

section h2 {
    color: rgb(9, 0, 0);
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
    font-size: 25px;
    font-weight: normal;
    /*text-shadow: 2px 2px 4px gray;*/
    
}

.bloqueSeparador {
    width: 100%;  
    height: 20px;
    background-color: rgb(219, 229, 232); 
    box-shadow: 5px 5px 5px #888888; /* Sombra gris con desplazamiento y desenfoque */

}

footer{
    margin-top: 1rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

.scroll {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

.scroll img {
    margin: 10px;
}

.deslizador{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.volver a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    border: #084C61 solid 5px;
    border-radius: 5px;
    padding: 12px;
}

@media screen and (min-width: 2000px) {
    .navegador{
        
       margin: 25% 25% 25% 25%;
    }
}
